<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class='topbar'>
      <% if user_signed_in? %>
      <div class='button small'>
        <%= link_to(destroy_user_session_path, {:class => "nav-link", :method => :delete}) do  %>
          <span class="sidebar-normal"> Logout </span>
        <% end %>
      </div>
      <div class='button small'>
        <%= link_to "post", posts_new_path%>
      </div>
    <% else %>
      <div class='button small'>
        <%= link_to "login", new_user_session_path %>
      </div>
    <% end %>
    </div>
    <div class='container'>
      <% @users.each do |user| %>
        <div class='card'>
          <img class='userpic' src= <%= user.photo %> >
          <a href="<%= users_url(user.id) %>" class='leftcard'>
            <h2 class='username'><%= user.name %></h2>
            <p class='count'>Number of posts: <%= user.posts_counter || '0' %></p><br>
          </a>
        </div>
      <% end %>
    </div>
  </body>
</html>
