<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class='container'>
      <div class='card'>
        <img class='userpic' src= <%= @user.photo %> >
        <div class='leftcard'>
          <h2 class='username'><%= @user.name %></h2>
          <p class='count'>Number of posts: <%= @user.posts_counter || '0' %></p><br>
        </div>
      </div>
      <div class='biodiv'>
        <p>Bio</p>
        <p><%= @user.bio %></p>
      </div>
      <% @posts.each do |post| %>
        <a href=<%= user_post_url(@user.id, post.id) %> >
          <div class='postcard'>
            <p><%= post.title %></p>
            <p><%= post.text.truncate(50, separator:' ') %></p>
            <p class='count'>
              Comments: <%= post.comments_counter || '0' %>
              Likes: <%= post.likes_counter || '0' %>
            </p>
          </div>
        </a>
      <% end %>
      <a class='button' href=<%= user_posts_url(@user.id)%>>See All Posts</a>
    </div>
  </body>
</html>