
  <body>
    <div class='container'>
      <h2>New Post:</h2>
      <%= form_with model: @post, url: user_posts_path, method: :post do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :text %>
        <%= f.text_area :text %>
        <%= f.submit "Create Post" %>
      <% end %>
    </div>
  </body>
